* {
  box-sizing: border-box;
}

body {
  background-color: #27292d;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d4d1d0;
  justify-content: center;
}

.headerFont {
  margin: 10px 25px 0 25px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  width: 25%;
  border-radius: 6px;
  border: 1px solid #67677a;
  height: calc(84.5vh - 28vh);
  overflow: clip;
}

.favorite img {
  width: 100%;
  height: 100%;
}

.search {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: calc(84.5vh - 28vh);
  max-width: 35vw;
  padding: 15px;
  background-color: #353638;
  border-radius: 4px;
  border: 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search label {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #333;
}

.search select {
  display: flex;
  width: 100%;
  padding: 10px 50px 10px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #212528;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5z" fill="%23fff"/%3E%3C/svg%3E'); /* White arrow */
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 24px 24px;
  appearance: none;
}

.custom-select {
  display: flex;
  width: 100%;
  background-color: #333;
  color: white;
  border: 1px solid #888;
  padding: 5px;
  border-radius: 4px;
}

.custom-select option:checked {
  background-color: #555;
  color: white;
}

.submit-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.submit-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

.submit-button:active {
  transform: scale(0.98); /* Slight shrink effect when clicked */
}

.result {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 65vw;
  max-height: 84.5vh;
  padding: 2px;
  margin-left: 1.5rem;
  background-color: #353638;
  border-radius: 4px;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.no-cards-message {
  text-align: center;
}

.result::-webkit-scrollbar {
  width: 12px;
}

.result::-webkit-scrollbar-track {
  background: #2a2d2e;
  border-radius: 8px;
}

.result::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

.result::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.result {
  scrollbar-width: thin;
  scrollbar-color: #555 #2a2d2e;
}

.result-span {
  display: flex;
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 8px;
  background-color: #424242;
}

.result-span:hover {
  background-color: #212528;
}

.result-span img {
  margin: 0;
  padding: 0;
  width: 7.1rem;
  height: 10rem;
  transition: transform 0.3s ease;
}

.result-span:hover img {
  transform: scale(1.07);
}

.result-desc-span {
  margin-left: 15px;
}

.result-desc-span h1 {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  color: #faeff0;
  line-height: 1.1;
}

.result-desc-span h2 {
  margin-top: 5px;
  padding: 0;
  font-size: 20px;
  line-height: 1;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 70vw;
  height: 70vh;
  padding: 2px;
  margin-top: 20px;
  /*background-color: #353638;*/
  border-radius: 1rem;
  /*border: 1px solid #ddd;*/
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  overflow: clip;
}

.detail img {
  display: flex;
  padding: 0;
  width: 19.5rem;
  height: 28rem;
  border-radius: 0.5rem;
  box-shadow: 8px 0 5px rgba(0, 0, 0, 0.5);
  /*border: 2px solid #ddd;*/
}

.detail-session {
  margin-left: 2rem;
  /*height: 60vh;*/
  width: 55vw;
  display: inline-block;
  border-radius: 0.5rem;
  /*border: 2px solid #67677a;*/
  /*overflow: clip;*/
}

.star-button {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #67677a;
  border-radius: 1rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  position: relative;
  outline: none;
}

.star-icon {
  position: absolute;
  color: whitesmoke;
  font-size: 25px;
}

.detail-desc {
  height: 55vh;
  border-radius: 0.5rem;
  border: 2px solid #67677a;
  overflow: auto;
}

.detail-desc::-webkit-scrollbar {
  width: 7px;
  height: auto;
}

.detail-desc::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 10px;
}

.detail-desc::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 10px;
}

.detail-desc::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.detail-desc h1 {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1;
  text-align: center;
}

.detail-desc h2 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1;
}

.detail-desc p {
  margin: 0; /* Menghapus margin default dari paragraf */
  overflow: auto; /* Membuat paragraf scrollable jika perlu */
  font-size: 1.05rem;
  line-height: 1.3;
  text-align: justify;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 30vh;
  padding-top: 0.5rem;
  margin-top: 7rem;
  border-radius: 1rem;
  background-color: #191919;
  font-size: 5rem;
  color: crimson;
  border: 1px solid;
}

.error h2 {
  margin-top: 0.2rem;
  padding: 0;
  line-height: 1.2;
  text-align: center;
  font-size: 1.5rem;
  color: crimson;
}

.error button {
  margin-top: 0.2rem;
  background-color: #3483ad;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

.search-params button,
#modal button,
#modal a,
.details button {
  background-color: #44ad34;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

.search-params button:hover {
  background-color: #122622;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal h1 {
  font-size: 2rem;
  color: #212528;
}

#modal:empty {
  display: none;
}

#modal > div {
  width: 30vw;
  height: 25vh;
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 1rem;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mini.loading-pane {
  height: 34px;
}

.mini .loader {
  font-size: 34px;
}
